<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Document</title>
  <script src="https://npmcdn.com/masonry-layout@4.0/dist/masonry.pkgd.js"></script>
  <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
</head>
<body>
  <h1>Masonry - columnWidth</h1>
  <div id="slider1_container" style="position: relative; top: 0px; left: 0px; width: 600px; height: 300px;">
      <!-- Slides Container -->
      <div u="slides" style="cursor: move; position: absolute; overflow: hidden; left: 0px; top: 0px; width: 600px; height: 300px;">
          <div><img u="image" src="image1.jpg" /></div>
          <div><img u="image" src="image2.jpg" /></div>
      </div>
  </div>
  <script>
    jQuery(document).ready(function ($) {
        var options = { $AutoPlay: true };
        var jssor_slider1 = new $JssorSlider$('slider1_container', options);
    });
  </script>
</body>
</html>